body {
  margin: 0;
  overflow-x: hidden;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  background: transparent !important;
  transition: background-color 999999999s ease-in-out 0s;
}
